@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Web Project | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", false)}
    @Scripts.Render("~/bundles/jquery")


</head>

<body>

    @Html.Partial("_Header")
    @Html.Partial("_Wrapper")
    @RenderBody()
    @Html.Partial("_Footer")

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $(document).ready(function () {
            $("#news_date").datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>

    @Scripts.Render("~/bundles/bootstrap")



</body>


</html>
